/* Heading Styles Begin Here */
h2 {
    color: rgb(7, 47, 122);
    font-family: sans-serif;
    font-size: 300%;
    background-color: rgb(239, 170, 222);
}
h3 {
    color: rgb(58, 22, 68);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color:rgb(205, 135, 222); 
}